/************************
    RESET
************************/

:root {
    --light-blue: #1B72E8;
}

ul, ol, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/************************
    LAYOUT
************************/

/* Navbar */
.page__navbar {
    width: 100%;
    height: 70px;
}

.navbar_icon:not(:last-child) {
    display: none;
}

.logo_mobile {
    width: 30px;
}

.searchbar input{
    padding: 5px 30px;
    background-color: #E5E5E5;
    border-radius: 8px;
    border: none;
}

.searchbar i {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.navbar_icons {
    color: #5B5858;
}




/* Sidebar */

.sidebar {
    width: 70px;
    background: rgb(20,42,64);
    background: linear-gradient(50deg, rgba(20,42,64,1) 75%, rgba(5,30,52,1) 75%);
}

.sidebar_links {
    height: 100%;
    flex-shrink: 0;
}


/* Main */ 

/* TOP */

.page__content {
    height: calc(100vh - 70px);
}

.main_top {
    background-color: var(--light-blue);
}

.new_student_button {
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: currentColor;
    border-radius: 10px;
    margin-left: 20px;
}

.path_badge {
    padding: 4px 10px;
    border-radius: 50px;
    background-color: hsl(215, 82%, 40%);
}

.online_students_counter {
    font-size: 30px;
}

/* BOTTOM */

.main_bottom {
    overflow: auto;
}

.main_bottom .col-100 > * {
    margin-top: 20px;
}

.main_bottom .col-100:last-child {
    margin-bottom: 20px;
}

.next_classes_legend .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 15px;
}

.class_code_icon {
    background-color: #F26551;
    color: white;
    padding: 7px 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.badge {
    max-width: 60px;
}

.class_actions > *{
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 5px;
    padding: 10px;
}

/* TO DO  */

.todo .row:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* GRAPH */

.graph_card {
    max-width: 100%;
}

.graph_card a {
    color: #0D6EFD;
    text-decoration: underline;
}

/* OFFCANVAS */

.offcanvas-body input {
    width: 100%;
    border-radius: 5px;
    border-color: #00000022;
    outline-color: #00000022;
}

.offcanvas.offcanvas-end{
    width: 100%;
}

.go_on input {
    width: auto;
    margin-right: 10px;
}

.button {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

.blue_button{
    background-color: #0D6EFD;
    color: white;
}

.yellow_button{                                              
    background-color: #FFC107;
}

/************************
    MEDIA QUERY
************************/

@media (min-width: 992px) {
    .sidebar {
        width: 150px;
    }
    .navbar_icon:not(:last-child) {
        display: block;
    }
    .offcanvas.offcanvas-end {
        width: 600px;
    }
}





/************************
    DEBUG
************************/



